@(message: String)

@main("") {

  <h2>Data Table</em></h2>

  <table>

    <tr><td>brantley,michae</td><td>OF</td><td>46</td><td>170</td><td>51</td><td>15</td><td>0</td><td>5</td><td>0.476</td><td>24</td><td>22</td><td>17</td><td>28</td><td>0.364</td><td>2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0.3</td></tr>
<tr><td>tucker,kyle</td><td>OF</td><td>58</td><td>209</td><td>56</td><td>12</td><td>6</td><td>9</td><td>0.512</td><td>33</td><td>42</td><td>18</td><td>46</td><td>0.325</td><td>8</td><td>1</td><td>0</td><td>0</td><td>1</td><td>1</td><td>0</td><td>0.268</td></tr>
<tr><td>correa,carlos</td><td>SS</td><td>58</td><td>201</td><td>53</td><td>9</td><td>0</td><td>5</td><td>0.383</td><td>22</td><td>25</td><td>16</td><td>49</td><td>0.323</td><td>0</td><td>0</td><td>0</td><td>2</td><td>1</td><td>1</td><td>0</td><td>0.264</td></tr>
<tr><td>springer,george</td><td>OF</td><td>51</td><td>189</td><td>49</td><td>6</td><td>2</td><td>14</td><td>0.534</td><td>37</td><td>32</td><td>24</td><td>38</td><td>0.352</td><td>1</td><td>2</td><td>0</td><td>4</td><td>0</td><td>2</td><td>0</td><td>0.259</td></tr>
<tr><td>alvarez,yordan</td><td>DH</td><td>2</td><td>8</td><td>2</td><td>0</td><td>0</td><td>1</td><td>0.625</td><td>2</td><td>4</td><td>0</td><td>1</td><td>0.25</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0.25</td></tr>
<tr><td>reddick,josh</td><td>OF</td><td>56</td><td>188</td><td>46</td><td>11</td><td>1</td><td>4</td><td>0.378</td><td>22</td><td>23</td><td>20</td><td>42</td><td>0.316</td><td>1</td><td>0</td><td>0</td><td>0</td><td>2</td><td>1</td><td>0</td><td>0.245</td></tr>
<tr><td>bregman,alex</td><td>3B</td><td>42</td><td>153</td><td>37</td><td>12</td><td>1</td><td>6</td><td>0.451</td><td>19</td><td>22</td><td>24</td><td>26</td><td>0.348</td><td>0</td><td>0</td><td>0</td><td>1</td><td>2</td><td>0</td><td>0</td><td>0.242</td></tr>
<tr><td>diaz,aledmys</td><td>2B</td><td>17</td><td>58</td><td>14</td><td>5</td><td>0</td><td>3</td><td>0.483</td><td>8</td><td>6</td><td>1</td><td>12</td><td>0.254</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0.241</td></tr>
<tr><td>gurriel,yuli</td><td>1B</td><td>57</td><td>211</td><td>50</td><td>12</td><td>1</td><td>6</td><td>0.389</td><td>27</td><td>22</td><td>12</td><td>27</td><td>0.275</td><td>0</td><td>1</td><td>0</td><td>1</td><td>0</td><td>5</td><td>0</td><td>0.237</td></tr>
<tr><td>altuve,jose</td><td>2B</td><td>48</td><td>192</td><td>43</td><td>9</td><td>0</td><td>5</td><td>0.349</td><td>32</td><td>18</td><td>17</td><td>39</td><td>0.287</td><td>2</td><td>3</td><td>0</td><td>0</td><td>4</td><td>0</td><td>0</td><td>0.224</td></tr>
<tr><td>maldonado,marti</td><td>C</td><td>47</td><td>135</td><td>29</td><td>4</td><td>0</td><td>6</td><td>0.378</td><td>19</td><td>24</td><td>27</td><td>51</td><td>0.35</td><td>1</td><td>0</td><td>0</td><td>1</td><td>2</td><td>0</td><td>2</td><td>0.215</td></tr>
<tr><td>straw,myles</td><td>OF</td><td>33</td><td>82</td><td>17</td><td>4</td><td>0</td><td>0</td><td>0.256</td><td>8</td><td>8</td><td>4</td><td>22</td><td>0.244</td><td>6</td><td>2</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0.207</td></tr>
<tr><td>mayfield,jack</td><td>2B</td><td>21</td><td>42</td><td>8</td><td>1</td><td>0</td><td>0</td><td>0.214</td><td>5</td><td>3</td><td>2</td><td>14</td><td>0.239</td><td>0</td><td>0</td><td>0</td><td>1</td><td>0</td><td>1</td><td>1</td><td>0.19</td></tr>
<tr><td>jones,taylor</td><td>DH</td><td>7</td><td>21</td><td>4</td><td>1</td><td>0</td><td>1</td><td>0.381</td><td>3</td><td>3</td><td>1</td><td>7</td><td>0.227</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0.19</td></tr>
<tr><td>garneau,dustin</td><td>C</td><td>17</td><td>38</td><td>6</td><td>0</td><td>1</td><td>1</td><td>0.289</td><td>4</td><td>4</td><td>6</td><td>15</td><td>0.273</td><td>0</td><td>0</td><td>0</td><td>0</td><td>4</td><td>0</td><td>2</td><td>0.158</td></tr>
<tr><td>toro,abraham</td><td>3B</td><td>33</td><td>87</td><td>13</td><td>2</td><td>0</td><td>3</td><td>0.276</td><td>13</td><td>9</td><td>3</td><td>23</td><td>0.229</td><td>1</td><td>1</td><td>0</td><td>6</td><td>0</td><td>0</td><td>0</td><td>0.149</td></tr>
<tr><td>stubbs,garrett</td><td>C</td><td>14</td><td>8</td><td>1</td><td>0</td><td>0</td><td>0</td><td>0.125</td><td>1</td><td>1</td><td>0</td><td>0</td><td>0.111</td><td>0</td><td>1</td><td>0</td><td>0</td><td>0</td><td>1</td><td>1</td><td>0.125</td></tr>
<tr><td>pitcher</td><td>P</td><td>1</td><td>1</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>3</td><td>0</td><td>0</td><td>0</td></tr>
<tr><td>TOTAL</td><td>-</td><td>-</td><td>1993</td><td>479</td><td>103</td><td>12</td><td>69</td><td>0.408</td><td>279</td><td>268</td><td>192</td><td>440</td><td>0.31</td><td>22</td><td>11</td><td>0</td><td>16</td><td>19</td><td>12</td><td>6</td><td>0.24</td></tr>

  </table>
  
}
